<header>
	<div>
		<a href="/"><img src="../logo.png" width="60" height="60" /></a>
		<h1>Message Board</h1>
	</div>
	<nav>
		<ul>
			<li>
				<a href="/new">Send message </a>
			</li>
		</ul>
	</nav>
</header>
