<form method="POST" action="/new">
	<div>
		<div>
			<label for="messageInput">Message:</label>
			<input
				id="messageInput"
				type="text"
				placeholder="(Friendly message)"
				name="text"
			/>
		</div>
		<div>
			<label for="nameInput">Name:</label>
			<input
				id="nameInput"
				type="text"
				placeholder="(Anonymous)"
				name="username"
			/>
		</div>
	</div>

	<button type="submit">Send message</button>
</form>
