<!doctype html>
<html lang="en">
	<%- include('partials/head') %>
	<body>
		<%- include('partials/header') %>
		<main class="new"><%- include('partials/newMessageForm', {fromPage: "new"}) %></main>
	</body>
</html>
