:root {
	--page-padding: 2em;
	--header-height: 8em;
	--footer-height: 12em;
	--main-color: #3d01a3;
	--card-radius: 12px;
	--main-width: calc(100vw - (2 * var(--page-padding)));
	--header-box-shadow:
		rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
		rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
		rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	--message-item-box-shadow:
		rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

	--message-item-button-box-shadow:
		rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

	--input-width: 400px;
}

@media (max-width: 400px) {
	:root {
		--page-padding: 1em;
		--footer-height: 16em;
	}
}

@media (max-width: 640px) {
	:root {
		--input-width: 100%;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	min-height: 100vh;
	height: fit-content;
	display: flex;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
	background-image:
		url("waves-pattern.png"),
		linear-gradient(180deg, #ffffff, var(--main-color));
	background-size: cover cover;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--main-color);
	height: var(--header-height);
	width: 100%;
	padding: 0 var(--page-padding);
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: var(--header-box-shadow);

	> div {
		display: flex;
		gap: 1.2em;
		align-items: center;
	}

	img {
		border-radius: var(--card-radius);
	}

	h1 {
		font-size: 2.4em;
		line-height: 1em;
		color: white;
	}

	a {
		font-size: 1.2em;
	}
}

main {
	height: calc(100vh - var(--footer-height));
	display: flex;
	flex-direction: column;
	padding: 0 var(--page-padding);
	padding-top: calc(var(--header-height) - 1em);
}

.details {
	margin-top: 2em;
	height: fit-content;
	background-color: white;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	border-radius: var(--card-radius);
	color: var(--main-color);
	font-size: 1.4em;
	box-shadow:
		rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

	h1 {
		font-size: 1.2em;
	}

	> div > p {
		font-size: 0.6em;
		font-weight: bold;
	}
}

a {
	display: flex;
	color: white;
	text-decoration: none;
	height: fit-content;
	width: fit-content;

	&:hover {
		color: black;
	}
}

ul {
	list-style: none;
}

.message-list {
	height: 500px;
	height: 100%;
	overflow: auto;
	font-size: 1.4em;

	&.empty {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ul {
		margin: 2.5em var(--page-padding);
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}

.message-item {
	padding: 0.8em;
	background-color: whitesmoke;
	box-shadow:
		rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	border-radius: var(--card-radius);
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	color: var(--main-color);

	> p {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	> div {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		> div {
			font-size: 0.6em;
			font-weight: bold;
		}
	}

	&:target {
		animation: fade-in 0.4s ease-out;
	}

	button {
		font-size: 0.5em;
		padding: 0.4em 0.8em;
		color: white;
		border-radius: 8px;
		border: 0;
		background-color: var(--main-color);
		box-shadow: var(--message-item-button-box-shadow);

		&:hover {
			cursor: pointer;
			animation: show-up forwards ease-out 0.3s;
		}
	}
}

main.new .new-message-form {
	margin: 3em 0 0;
	width: 100%;
}

.new-message-form {
	max-height: var(--footer-height);
	height: fit-content;
	padding: 1em;
	margin: -1em var(--page-padding) 0;
	background-color: var(--main-color);
	box-shadow: var(--header-box-shadow);
	display: flex;
	flex-wrap: wrap;
	gap: 0.6em;
	border-radius: var(--card-radius);
	align-items: flex-end;
	z-index: 1;
	width: calc(100% - 2 * var(--page-padding));

	input {
		width: var(--input-width);
		padding-left: 0.3em;
		height: 2.4em;
		border-radius: var(--card-radius);
		margin-top: 0.2em;
	}

	label {
		color: white;
		font-size: 0.9em;
	}

	p {
		color: white;
	}

	> div {
		display: flex;
		gap: 0.4em;
		flex-wrap: wrap;
		width: var(--input-width);

		> div {
			width: var(--input-width);
		}
	}

	button {
		margin-left: auto;
		border: 0;
		background-color: var(--main-color);
		color: white;
		border: 0.2em solid white;
		padding: 0.4em 0.8em;
		border-radius: 10px;
		box-shadow: var(--message-item-button-box-shadow);
		height: fit-content;

		&:hover {
			cursor: pointer;
			animation: show-up forwards ease-out 0.3s;
		}
	}

	img {
		border-radius: 12px;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		scale: 0;
	}
	100% {
		opacity: 1;
		scale: 100%;
	}
}

@keyframes show-up {
	100% {
		transform: translateY(0.3em) scale(1.1);
	}
}
