:root {
	--page-padding: 4em;
	--header-height: 8em;
	--footer-space: 3em;
	--main-color: #3d01a3;
	--header-box-shadow:
		rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
		rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
		rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	--card-radius: 12px;
}

@media (max-width: 400px) {
	:root {
		--page-padding: 1em;
	}
}

* {
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	height: fit-content;
	display: flex;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
	/* background-image: url("waves-pattern-3.png"); */

	background-image:
		url("waves-pattern-3.png"),
		linear-gradient(180deg, #ffffff, var(--main-color));
	background-size: cover cover;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--main-color);
	padding: var(--page-padding);
	position: fixed;
	height: var(--header-height);
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: var(--header-box-shadow);

	> div {
		display: flex;
		gap: 1.2em;
		align-items: center;
	}

	img {
		border-radius: var(--card-radius);
	}

	h1 {
		font-size: 2.4em;
		line-height: 1em;
		color: white;
	}

	a {
		font-size: 1.2em;
	}
}

main {
	margin: var(--header-height) var(--page-padding) var(--footer-space);
	height: calc(100vh - var(--header-height) - var(--footer-space));
	position: relative;
	display: flex;
	flex-direction: column;

	p {
		margin: 0.4em 0;
	}
}

main.details {
	margin: calc(var(--header-height) + 2em) auto calc(var(--footer-space) - 2em);
	width: fit-content;
	height: fit-content;

	h1 {
		font-size: 1.8em;
	}
}

main.new-message-form {
	margin: calc(var(--header-height) + 2em) var(--page-padding) 0;
}

.message-container {
	flex: 1;
	min-height: 0;
	overflow-y: auto;

	p {
		color: var(--main-color);
		font-size: 1.5em;
	}

	&.empty {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

a {
	color: white;
	text-decoration: none;

	&:hover {
		color: black;
	}
}

.card {
	padding: 0.8em;
	background-color: whitesmoke;
	box-shadow:
		rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	border-radius: var(--card-radius);
	display: flex;
	flex-direction: column;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;

		> div {
			font-size: 0.8em;
		}

		> a {
			display: flex;
			color: black;
		}
	}
}

.card:target {
	animation: fade-in 0.4s ease-out;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		scale: 0;
	}
	100% {
		opacity: 1;
		scale: 100%;
	}
}

form {
	height: fit-content;
	padding: 1em;
	background-color: var(--main-color);
	box-shadow: var(--header-box-shadow);
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	border-radius: var(--card-radius);

	label {
		color: white;
	}

	> div {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1em;
	}

	button {
		display: block;
		margin-left: auto;
	}
}
